In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame({"consume":["11", "14", "11,5", "12,6", '2', '6', '40', '15', '10']})

In [3]:
data

  consume
0      11
1      14
2    11,5
3    12,6
4       2
5       6
6      40
7      15
8      10

In [8]:
data['consume'] = data['consume'].apply(lambda x: float(str(x).replace(',', '.')))

In [9]:
data['consume']

0    11.0
1    14.0
2    11.5
3    12.6
4     2.0
5     6.0
6    40.0
7    15.0
8    10.0
Name: consume, dtype: float64

In [12]:
max(data['consume'])

40.0

In [13]:
min(data['consume'])

2.0

In [17]:
(40-2)/3

12.666666666666666

In [26]:
int((40-2)/3)

12

In [28]:
range(2, 40, int((40-2)/3))

range(2, 40, 12)

In [29]:
list(range(2, 40, int((40-2)/3)))

[2, 14, 26, 38]

In [30]:
t = ['pas cher', 'accepatable', 'cher']

In [50]:
data['a'] = pd.cut(data['consume'], int((40-2)/3), labels=t)

ValueError: Bin labels must be one fewer than the number of bin edges

In [47]:
data.head(10)

   consume            a
0     11.0     pas cher
1     14.0     pas cher
2     11.5     pas cher
3     12.6     pas cher
4      2.0          NaN
5      6.0     pas cher
6     40.0          NaN
7     15.0  accepatable
8     10.0     pas cher