# Import tools

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Lood data

In [187]:
df = pd.read_csv('train.csv')

In [237]:
df_test = pd.read_csv('test.csv')

# EDX

In [188]:
df.shape

(1143, 75)

In [238]:
df_test.shape

(286, 75)

In [189]:
df.head()

,surveyid,village,survey_date,femaleres,age,married,children,hhsize,edu,hh_children,...,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,depressed,day_of_week
0,926,91,23-Nov-61,1,28.0,1,4,6,10,0,...,0,0.0,0,0.000000,0.000000,1,0.000000,0,0,5
1,747,57,24-Oct-61,1,23.0,1,3,5,8,0,...,0,0.0,1,4.804611,4.804611,0,0.000000,0,1,3
2,1190,115,05-Oct-61,1,22.0,1,3,5,9,0,...,0,0.0,0,8.007685,8.007685,1,0.000000,0,0,5
3,1065,97,23-Sep-61,1,27.0,1,2,4,10,2,...,0,0.0,0,0.000000,0.000000,1,1.249199,0,0,0
4,806,42,12-Sep-61,0,59.0,0,4,6,10,4,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,3

In [239]:
df_test.head()

,surveyid,village,survey_date,femaleres,age,married,children,hhsize,edu,hh_children,...,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,depressed,day_of_week
0,901,181,14-Nov-61,1,21,0,3,4,10,3,...,0,0.0,0,0.0,0.0,1,0.000000,0,0.0,3
1,498,47,18-Sep-61,1,44,1,6,8,6,6,...,0,0.0,0,0.0,0.0,0,0.000000,0,0.0,2
2,710,8,03-Sep-61,1,23,1,1,3,7,1,...,0,0.0,0,0.0,0.0,1,0.080077,0,0.0,1
3,433,25,01-Nov-60,1,67,0,0,1,1,0,...,0,0.0,0,0.0,0.0,0,0.000000,1,1.0,3
4,44,2,18-May-60,1,40,1,4,6,7,4,...,0,0.0,0,0.0,0.0,0,0.000000,1,NaN,4

In [190]:
df.duplicated().sum()

0

In [191]:
df.isnull().sum()[df.isnull().sum() < 400]

surveyid                     0
village                      0
survey_date                  0
femaleres                    0
age                          0
married                      0
children                     0
hhsize                       0
edu                          0
hh_children                  0
hh_totalmembers            334
cons_nondurable              0
asset_livestock              0
asset_durable                0
asset_phone                  0
asset_savings                0
asset_land_owned_total       0
asset_niceroof               0
cons_allfood                 0
cons_ownfood                 0
cons_alcohol                43
cons_tobacco                20
cons_med_total               0
cons_ed                      0
cons_social                  0
cons_other                   0
ent_wagelabor                0
ent_ownfarm                  0
ent_business                 0
ent_nonagbusiness            0
ent_employees                0
ent_nonag_revenue            0
ent_nonag_flowcost           0
ent_farmrevenue              0
ent_farmexpenses             0
ent_animalstockrev           0
ent_total_cost               0
fs_adskipm_often             0
fs_adwholed_often            0
fs_meat                    334
fs_enoughtom               334
fs_sleephun                334
med_portion_sickinjured    334
med_sickdays_hhave         334
med_vacc_newborns            0
med_child_check              0
labor_primary                0
wage_expenditures            0
durable_investment           0
nondurable_investment        0
given_mpesa                  0
amount_given_mpesa           0
received_mpesa               0
amount_received_mpesa        0
net_mpesa                    0
saved_mpesa                  0
amount_saved_mpesa           0
early_survey                 0
depressed                    0
day_of_week                  0
dtype: int64

In [192]:
# To delete

In [193]:
df.isnull().sum()[df.isnull().sum() > 400]

cons_med_children         419
fs_chskipm_often          416
fs_chwholed_often         416
med_expenses_hh_ep        693
med_expenses_sp_ep        878
med_expenses_child_ep     600
med_port_sick_child       416
med_afford_port           423
med_healthconsult         423
med_u5_deaths            1084
ed_expenses               463
ed_expenses_perkid        463
ed_schoolattend           463
ed_sch_missedpc           467
ed_work_act_pc            571
dtype: int64

## Clean data

In [194]:
#hh_hh_totalmembers empty

In [195]:
df['hh_totalmembers'].isnull().sum()

334

In [196]:
df['hh_totalmembers'].value_counts()

4.0     164
5.0     157
6.0     114
3.0     110
7.0      78
2.0      65
8.0      44
1.0      30
9.0      24
10.0     17
12.0      4
11.0      2
Name: hh_totalmembers, dtype: int64

In [197]:
fr_hh_totalmembers = df['hh_totalmembers'].value_counts().idxmax()
fr_hh_totalmembers

4.0

In [198]:
df['hh_totalmembers'].replace(np.nan, fr_hh_totalmembers, inplace=True)

In [199]:
df['hh_totalmembers'].isnull().sum()

0

In [200]:
# cons_tobacco emmpy

In [201]:
df['cons_alcohol'].isnull().sum()

43

In [202]:
avg_cons_alcohol = df['cons_alcohol'].astype('float').mean(axis=0)
avg_cons_alcohol

1.1777172640000004

In [203]:
df['cons_alcohol'].replace(np.nan, avg_cons_alcohol, inplace=True)

In [204]:
df['cons_alcohol'].isnull().sum()

0

In [205]:
## cons_tobacco empty

In [206]:
df['cons_tobacco'].isnull().sum()

20

In [207]:
avg_cons_tobacco = df['cons_tobacco'].astype('float').mean(axis=0)
avg_cons_tobacco

0.6348043586464829

In [208]:
df['cons_tobacco'].replace(np.nan, avg_cons_tobacco, inplace=True)

In [209]:
df['cons_tobacco'].isnull().sum()

0

In [210]:
## fs_meat

In [211]:
df['fs_meat'].isnull().sum()

334

In [212]:
df['fs_meat'].value_counts()

2.0     193
3.0     180
1.0     122
4.0      93
7.0      69
5.0      63
0.0      54
6.0      29
22.0      2
14.0      1
10.0      1
13.0      1
11.0      1
Name: fs_meat, dtype: int64

In [213]:
fr_fs_meat = df['fs_meat'].value_counts().idxmax()
fr_fs_meat

2.0

In [214]:
df['fs_meat'].replace(np.nan, fr_fs_meat, inplace=True)

In [215]:
df['fs_meat'].isnull().sum()

0

## Field -- fs_enoughtom

In [216]:
df['fs_enoughtom'].value_counts()

0.0    587
1.0    222
Name: fs_enoughtom, dtype: int64

In [217]:
fr_fs_enoughtom = df['fs_enoughtom'].value_counts().idxmax()
fr_fs_enoughtom

0.0

In [218]:
df['fs_enoughtom'].replace(np.nan, fr_fs_enoughtom, inplace=True)

## Field -- fs_sleephun

In [219]:
df['fs_sleephun'].value_counts()

0.0    512
1.0    297
Name: fs_sleephun, dtype: int64

In [220]:
fr_fs_sleephun = df['fs_sleephun'].value_counts().idxmax()
fr_fs_sleephun

0.0

In [221]:
df['fs_sleephun'].replace(np.nan, fr_fs_sleephun, inplace=True)

## Field med_sickdays_hhave

In [222]:
df['med_sickdays_hhave'].value_counts()

0.000000     222
1.000000      46
0.500000      27
1.500000      20
3.000000      18
            ...
7.333334       1
7.600000       1
4.600000       1
0.222222       1
12.666667      1
Name: med_sickdays_hhave, Length: 146, dtype: int64

In [223]:
avg_med_sickdays_hhave = df['med_sickdays_hhave'].astype('float').mean(axis=0)
df['med_sickdays_hhave'].replace(np.nan, avg_med_sickdays_hhave, inplace=True)

## FIeld -- med_portion_sickinjured

In [224]:
df['med_portion_sickinjured'].isnull().sum()

334

In [225]:
avg_med_portion_sickinjured = df['med_portion_sickinjured'].astype('float').mean(axis=0)
df['med_portion_sickinjured'].replace(np.nan, avg_med_portion_sickinjured, inplace=True)

## Reloque

In [235]:
features = df.isnull().sum()[df.isnull().sum() < 400].index
features

Index(['surveyid', 'village', 'survey_date', 'femaleres', 'age', 'married',
       'children', 'hhsize', 'edu', 'hh_children', 'hh_totalmembers',
       'cons_nondurable', 'asset_livestock', 'asset_durable', 'asset_phone',
       'asset_savings', 'asset_land_owned_total', 'asset_niceroof',
       'cons_allfood', 'cons_ownfood', 'cons_alcohol', 'cons_tobacco',
       'cons_med_total', 'cons_ed', 'cons_social', 'cons_other',
       'ent_wagelabor', 'ent_ownfarm', 'ent_business', 'ent_nonagbusiness',
       'ent_employees', 'ent_nonag_revenue', 'ent_nonag_flowcost',
       'ent_farmrevenue', 'ent_farmexpenses', 'ent_animalstockrev',
       'ent_total_cost', 'fs_adskipm_often', 'fs_adwholed_often', 'fs_meat',
       'fs_enoughtom', 'fs_sleephun', 'med_portion_sickinjured',
       'med_sickdays_hhave', 'med_vacc_newborns', 'med_child_check',
       'labor_primary', 'wage_expenditures', 'durable_investment',
       'nondurable_investment', 'given_mpesa', 'amount_given_mpesa',
       'received_mpesa', 'amount_received_mpesa', 'net_mpesa', 'saved_mpesa',
       'amount_saved_mpesa', 'early_survey', 'depressed', 'day_of_week'],
      dtype='object')

In [236]:
df[features]

,surveyid,village,survey_date,femaleres,age,married,children,hhsize,edu,hh_children,...,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,depressed,day_of_week
0,926,91,23-Nov-61,1,28.0,1,4,6,10,0,...,0,0.0,0,0.000000,0.000000,1,0.000000,0,0,5
1,747,57,24-Oct-61,1,23.0,1,3,5,8,0,...,0,0.0,1,4.804611,4.804611,0,0.000000,0,1,3
2,1190,115,05-Oct-61,1,22.0,1,3,5,9,0,...,0,0.0,0,8.007685,8.007685,1,0.000000,0,0,5
3,1065,97,23-Sep-61,1,27.0,1,2,4,10,2,...,0,0.0,0,0.000000,0.000000,1,1.249199,0,0,0
4,806,42,12-Sep-61,0,59.0,0,4,6,10,4,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,927,152,27-Dec-61,1,36.0,0,4,5,9,0,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,1,4
1139,1039,104,13-Sep-61,1,23.0,1,0,2,10,0,...,0,0.0,0,0.000000,0.000000,1,0.000000,0,0,4
1140,428,54,23-Nov-61,1,28.0,1,5,7,10,5,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,5
1141,23,3,05-Oct-61,1,33.0,0,4,5,9,0,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,5
1142,116,18,24-Sep-61,1,39.0,1,0,4,12,0,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,1,1